#!/usr/bin/make -f

override_dh_auto_build:
	#apxs2 -c -Wc,-fno-strict-aliasing -Wc,-ffile-prefix-map=$(CURDIR)=. mod_package_name.c

override_dh_auto_install:
	# handled by dh_install

override_dh_builddeb:
	dh_builddeb -- -Zxz

%:
	dh $@ --with apache2
